@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;

}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
}

.main-container {
  flex-grow: 1;
}


.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
}

.button-bigger {
  font-size: 20px;
  line-height: 36px;
}

/* Pages */
.main-header {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 0 70px;
}

.navigation {
  display: flex;
  width: 892px;
}

.navigation-list {
  margin: 0;
  margin-left: 30px;
  padding: 0;
  width: 339px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  margin: 0;
  padding: 0;
  max-width: 100px;
  margin-left: auto;
  list-style-type: none;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.page-header {

  color: #000000;
  background-color: #ffffff;

}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-decoration: none;

}

.main-index {

  color: #000000;
  background-color: #ffffff;
}

.logo-main {
  display: block;
  margin: 0 auto;
}

.main-header-logo-background {
  background-image: url("../images/background-welcome-to-sedona.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}


/* List */
.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;


}


.advantages-item {
  width: 400px;
  height: 385px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 85px;
}

.advantages-item-dark-blue-photo-after-text {
  display: flex;
  text-align: center;
  width: 1200px;
}

.advantages-item-dark-blue-photo-before-text {
  display: flex;
  text-align: center;
  width: 1200px;
}

.advantages-item-no-photo {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 400px;
  padding: 85px;
}


.city-description-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin: 0 auto;
  width: 800px;


}

.city-description-subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  text-decoration: none;
  text-transform: none;
  padding: 0 100px;
  margin: 0 auto;
}

.text-after-logo {
  padding-top: 70px;
  padding-bottom: 69px;
  margin-bottom: 21px;
  background-color: #FFFFFF;
}


/* Title */
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

}

.advantages-description {
  color: #333333;
}

.advantages-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 385px;
  padding: 102px 85px;
}

.advantages-item-dark-blue-photo-after-text {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-medium-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-dark-blue-photo-before-text {
  color: #ffffff;
  background-color: #82b3d3;
}

.text-why-come-to-sedona {
  padding: 64px 0;
}

.welcome-to-sedona-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  width: 505px;
  margin: 0 auto;
  margin-bottom: 20px;

}

.welcome-to-sedona-subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  text-decoration: none;
  text-transform: none;
  padding: 0 100px;
  margin: 0 auto;
}

.why-come-to-sedona-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

}

.why-come-to-sedona-item {
  width: 400px;
  height: 385px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 81px 85px;
  align-items: center;
}


.why-come-to-sedona-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.why-come-to-sedona-subtitle {
  color: #333333;
}

.why-come-to-sedona-description {
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
  text-align: center;
  color: #333333;
}

.why-come-to-sedona-item-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.interested {
  display: block;
  padding: 96px 20px;
  text-align: center;
}

.interested-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 20px;
}

.interested-subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  text-decoration: none;
  text-transform: none;
  padding: 0 100px;
  margin: 0 auto;
}

.interested-button {
  background-color: #756157;
  width: 376px;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  margin-top: 53px;
}

.subscription {
  background-image: url("../images/subscription.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 414px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 258px;
  padding-right: 258px;
  padding-top: 96px;
  padding-bottom: 105px;

}

.subscription-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.subscription-subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: none;
}

.subscription-form {
  display: flex;
  justify-content: center;
  font-family: inherit;
  color: #000000;
}

.subscription-form-input {
  font-family: inherit;
}

.subscription-form-button {
  background-color: #82b3d3;

}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;

}

.htmlacademy-link {
  padding-top: 5px;
}

.main-catalog-filter-background {
  background-image: url(../images/filter.jpg);
  background-repeat: no-repeat;
  background-color: #82b3d3;
  background-size: cover
}

.main-catalog-filter {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;

}


.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-link {
  font-size: 16px;
  font-family: inherit;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.catalog-filter-section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

}

.catalog-filter {

  display: flex;
  justify-content: center;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.catalog-filter-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-group-price {
  list-style-type: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.catalog-filter-price-inputs {
  font-family: inherit;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;

}

.catalog-filter-button-submit {
  background-color: #82b3d3;
}

.catalog-filter-button-reset {
  background-color: transparent;
}

.catalog-filter-results {
  display: flex;
  align-items: center;
  padding: 0 69px;
  padding-top: 50px;
  padding-bottom: 40px;
}

.catalog-filter-results-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.catalog-filter-results-select {
  margin-left: auto;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 292px;
  margin-right: 70px;
}

.catalog-filter-results-view-buttons{
  margin: 0;
  padding: 0;
}

.catalog-cards-list {
  width: 1200px;
    padding: 0 69px;
    padding-bottom: 60px;
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    list-style: none;
    margin: 0;


}



.catalog-cards-item {
  background-color: #ffffff;
  width: 340px;


}

.card-link {
  text-decoration: none;
}

.card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}

.card-type-of-housing {
  font-weight: 400;
  color: #333333;
}

.card-price {
  font-weight: 400;
  color: #333333;
}

.button-blue {
  background-color: #82b3d3;

}

.button-green {
  background-color: #7db54f;
}

.catalog-cards-rating {
  background-color: #f2f2f2;
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

}

.pagination {
  display: flex;
  list-style-type: none;

}



.pagination-link {
  display: block;
  background-color: #82B3D3;
  border: none;
  min-width: 60px;
  min-height: 60px;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 11px 0;
  cursor: pointer;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-hidden {
  color: #000000;
  background-color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.subscription-catalog {
  background-color: transparent;
  color: #000000;
  width: 1200px;
  height: 414px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.subscription-title-catalog {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.subscription-subtitle-catalog {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: none;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 40px 70px 30px 70px;
}

.footer-social-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}




.catalog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 40px 70px 30px;
}
