@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;

}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;

}

.main-container {
  flex-grow: 1;
}


.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
}

.button-bigger {
  font-size: 20px;
  line-height: 36px;
}

/* Pages */
.main-header {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}
.navigation {
  display: flex;
  width: 892px;
}

.navigation-list {
  margin: 0;
  margin-left: 30px;
  padding: 0;
  width: 339px;
}

.navigation-user {
  margin: 0;
  padding: 0;
  max-width: 100px;
  margin-left: auto;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.page-header {

  color: #000000;
  background-color: #ffffff;

}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-decoration: none;

}

.main-index {

  color: #000000;
  background-color: #ffffff;
}

.logo-main {
  display: block;
  margin: 0 auto;
}

.main-header-logo-background {
  background-image: url("../images/background-welcome-to-sedona.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.text-after-logo {
  width: 1200px;
  height: 282px;
  display: flex;
  justify-content: center;
  flex-direction: column;

}
/* List */
.advantages-list {
  margin: 0;
  padding: 0;

}

.advantages-item {
  width: 400px;
  height: 385px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.advantages-item-dark-blue-photo-after-text {
  display: flex;
  text-align: center;
}

.advantages-item-dark-blue-photo-before-text {
  display: flex;
  text-align: center;
}

.advantages-item-no-photo {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}
.advantages-item-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.city-description-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;

}

.city-description-subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  text-decoration: none;
  text-transform: none;
}

.advantages-list {
  text-align: center;
}

/* Title */
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.advantages-description {
  color: #333333;
}

.advantages-item-dark-blue-photo-after-text {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-medium-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-dark-blue-photo-before-text {
  color: #ffffff;
  background-color: #82b3d3;
}

.text-why-come-to-sedona {
  width: 1200px;
  height: 246px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.welcome-to-sedona-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;

}

.welcome-to-sedona-subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  text-decoration: none;
  text-transform: none;
}

.why-come-to-sedona-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;

}

.why-come-to-sedona-item {
  width: 400px;
  height: 385px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.why-come-to-sedona-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.why-come-to-sedona-subtitle {
  color: #333333;
}
.why-come-to-sedona-description {
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
  text-align: center;
  color: #333333;
}

.why-come-to-sedona-item-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.interested {
  width: 1200px;
  height: 406px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.interested-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.interested-subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  text-decoration: none;
  text-transform: none;
}

.subscription{
  background-image: url("../images/subscription.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 414px;
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.subscription-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.subscription-subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: none;
}

.subscription-form {
  display: flex;
  justify-content: center;
  font-family: inherit;
  color: #000000;
}

.subscription-form-input {
  font-family: inherit;
}

.subscription-form-button {
  background-color: #82b3d3;

}

.phone-number {
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    text-decoration: none;

}

.main-catalog-filter-background {
  background-image: url(../images/filter.jpg);
  background-repeat: no-repeat;
  background-color: #82b3d3;
  background-size: cover
}

.main-catalog-filter {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;

}


.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-link {
  font-size: 16px;
  font-family: inherit;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.catalog-filter-price-inputs {
  font-family: inherit;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;

}

.catalog-filter-button-submit {
  background-color: #82b3d3;
}

.catalog-filter-button-reset {
  background-color: transparent;
}

.catalog-filter-results-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase ;
}

.catalog-filter-results-select{
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.catalog-cards-item {
  background-color: #ffffff;
}
.card-link{
  text-decoration: none;
}
.card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}

.card-type-of-housing {
  font-weight: 400;
  color: #333333;
}

.card-price {
  font-weight: 400;
  color: #333333;
}

.button-blue {
  background-color: #82b3d3;

}

.button-green {
  background-color: #7db54f;
}

.catalog-cards-rating {
  background-color: #f2f2f2;
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  background-color: #82b3d3;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-hidden {
  color: #000000;
  background-color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.subscription-catalog {
  background-color: transparent;
  color: #000000;
}

.subscription-title-catalog {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.subscription-subtitle-catalog {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: none;
}
