@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;

}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.main-container {
  flex-grow: 1;
}


.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.button-bigger {
  font-size: 20px;
  line-height: 36px;
}

/* Pages */

.main-header {
  padding: 0 70px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.navigation-link-logo {
  width: 140px;
  position: absolute;
  top: 0;
  left: 0;
}

.header-logo-navigation {
  position: relative;
  padding-left: 168px;
}


.navigation {
  display: flex;
  width: 892px;
  position: relative;

}

.navigation-link {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
  color: #000000;
  padding: 20px 16px;

}

.navigation-link-selected::before {
  position: absolute;
  content: "";
  bottom: -1px;
  left: 16px;
  z-index: 1;
  width: calc(100% - 32px);
  border-bottom: 2px solid #756257;
}

.navigation-link-selected {
  position: relative;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  list-style: none;
  padding: 0;
  margin: 0;

}

.navigation-user {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-user-button {
  display: grid;
  grid-template-columns: 1fr 160px;
  gap: 20px;
  align-items: center;
}

.navigation-user-link {
  position: relative;
  display: block;
  text-decoration: none;
  padding: 21px 12px 17px 12px;
}

.navigation-user-link-search {
  position: relative;
}

.button-brown-navigation {
  text-decoration: none;
  color: #FFFFFF;
  margin: 0;
  width: 160px;
  background-color: #756157;
  padding: 8px 0;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.page-header {

  color: #000000;
  background-color: #ffffff;


}

.notification-favorite {
  position: absolute;
  top: 11px;
  left: 20px;
  min-width: 20px;
  min-height: 20px;
  font-size: 10px;
  line-height: 10px;
  padding: 5px;
  text-align: center;
  background: #7DB54F;
  border-radius: 50%;
  color: #FFFFFF;
}

.main-index {

  color: #000000;
  background-color: #ffffff;
}

.logo-main {
  display: block;
  margin: 0 auto;
}

.main-header-logo-background {
  background-image: url(../images/framing-welcome-to-sedona.svg), url(../images/background-welcome-to-sedona.jpg);
  background-repeat: no-repeat;
  background-position: center bottom, center;
  background-color: #b2d8f1;
  background-size: 100% auto, cover;
  color: #FFFFFF;
  padding: 51px 50px 82px 50px;
}


/* List */
.advantages-list {

  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;


}


.advantages-item {
  width: 400px;
  height: 385px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 85px;
}

.advantages-item-dark-blue-photo-after-text {
  display: flex;
  text-align: center;
  width: 1200px;
}

.advantages-item-dark-blue-photo-before-text {
  display: flex;
  text-align: center;
  width: 1200px;
}

.advantages-item-no-photo {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 400px;
  padding: 85px;
}


.city-description-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 auto;
  width: 800px;
  margin-bottom: 25px;


}

.city-description-subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  text-decoration: none;
  text-transform: none;
  padding: 0 100px;
  margin: 0 auto;
}

.text-after-logo {
  padding-top: 70px;
  padding-bottom: 69px;
  margin-bottom: 21px;
  background-color: #FFFFFF;
}


/* Title */
.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 62px;
  position: relative;
  overflow-wrap: break-word;
}


.advantages-title-promo::before {
  position: absolute;
  content: "";
  bottom: -32px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 2px;
  background-color: #000000;
  opacity: 0.3;
}

.promo-dark .advantages-title-promo::before {
  background-color: #FFFFFF;
}

.advantages-description {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.advantages-description-photo {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.advantages-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 385px;
  padding: 102px 85px;
}

.advantages-item-dark-blue-photo-after-text {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-medium-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-dark-blue-photo-before-text {
  color: #ffffff;
  background-color: #82b3d3;
}

.text-why-come-to-sedona {
  padding: 64px 0;
}

.welcome-to-sedona-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  width: 505px;
  margin: 0 auto;
  margin-bottom: 20px;

}

.welcome-to-sedona-subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  text-decoration: none;
  text-transform: none;
  padding: 0 100px;
  margin: 0 auto;
}

.why-come-to-sedona-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

}

.why-come-to-sedona-item {
  width: 400px;
  height: 385px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 81px 85px;
  align-items: center;
}


.why-come-to-sedona-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  position: relative;
  overflow-wrap: break-word;
}

.advantage-icon-house::before {
  content: "";
  top: 0;
  left: 0;
  margin-bottom: 30px;
  width: 75px;
  height: 72px;
  background-image: url("../images/advantage-icon-house.svg");
  background-repeat: no-repeat;
}

.advantage-icon-food::before {
  content: "";
  top: 0;
  left: 0;
  margin-bottom: 30px;
  width: 75px;
  height: 72px;
  background-image: url("../images/advantage-icon-food.svg");
  background-repeat: no-repeat;
}

.advantage-icon-souvenirs::before {
  content: "";
  top: 0;
  left: 0;
  margin-top: -2px;
  margin-bottom: 30px;
  width: 76px;
  height: 76px;
  background-image: url("../images/advantage-icon-presents.svg");
  background-repeat: no-repeat;
}

.advantage-icon-souvenirs {
  padding-top: 79px;
}

.why-come-to-sedona-description {
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
  text-align: center;
  color: #333333;
  margin: 0;
}

.why-come-to-sedona-item-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.interested {
  display: block;
  padding: 96px 20px;
  text-align: center;
}

.interested-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 20px;
}

.interested-subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  text-decoration: none;
  text-transform: none;
  padding: 0 100px;
  margin: 0 auto;
}

.interested-button {
  background-color: #756157;
  width: 376px;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  margin-top: 53px;
}

.subscription {
  background-color: transparent;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 258px;
  padding-right: 258px;
  padding-top: 96px;
  padding-bottom: 105px;
  color: #000000;

}

.subscription-title {
  text-decoration: none;
  text-transform: uppercase;

  margin: 0 auto;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  width: 100%;
  margin-bottom: 21px;
}

.subscription-subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  padding: 0 100px;
  margin: 0 auto;

}

.subscription-form {
  display: flex;
  align-items: center;
  margin-top: 54px;
}

.subscription-form-input {
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  padding: 14px 20px;
  border-radius: 4px 0 0 4px;
  border: none;
  background-color: #F2F2F2;
  font-family: inherit;
}

.subscription-form-button {
  background-color: #82b3d3;
  width: 232px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
  margin: 0;
  padding: 8px 50px;
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;

}

.htmlacademy-link {
  padding-top: 5px;
}

.main-catalog-filter-background {
  background-image: url(../images/filter.jpg);
  background-size: cover;
  background-color: #b2d8f1;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
  margin: 0 auto;
  width: 1200px;
  padding: 35px 70px 70px 70px;
}

.main-catalog-filter {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;

}


.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  margin-right: 27px;
  position: relative;

}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -17px;
  width: 7px;
  height: 21px;
  background-image: url(../images/breadcrumbs-navigation.svg);
  background-repeat: no-repeat;
  background-position: center;
  color: currentcolor;
}

.breadcrumbs-item:last-child {
  margin: 0;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  cursor: default;
}



.catalog-filter {

  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.catalog-filter-fieldset-first {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-column-gap: 70px;
  grid-row-gap: 70px;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
  margin-right: 70px;
}

.catalog-filter-price {
  width: 288px;
  margin-left: auto;

}

.catalog-filter-price-inputs-wrap {
  background-color: #F2F2F2;
  overflow: auto;
  width: 143px;
  padding: 12px 20px;
  border-radius: 4px 0 0 4px;

}

.catalog-filter-price-inputs-wrap-max {
  margin-left: 2px;
  border-radius: 0 4px 4px 0;

}

.catalog-filter-price-range-span {
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  max-width: 20px;
  overflow: auto;

}

.catalog-filter-price-range {
  width: 80px;
  text-align: left;
  background-color: transparent;
  border: none;
  -webkit-appearance: textfield;
  appearance: textfield;
  font: inherit;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

}

.catalog-filter-price-range-label {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 0;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.catalog-filter-button-submit {
  width: 191px;
  padding: 8px 50px;
  margin-bottom: 32px;
  margin-top: 56px;
}

.catalog-filter-button-reset {
  background-color: transparent;
  width: 191px;
  padding: 8px 50px;
}

.catalog-filter-list {
  list-style-type: none;
  font-size: 18px;
  line-height: 23px;
  padding: 0;
  margin: 0;
}

.catalog-filter-group-price {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-filter-list-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;

  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  top: 5px;
  width: 12px;
  height: 10px;
  background-image: url(../images/input-checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.catalog-filter-price-inputs {
  display: flex;
  align-items: center;
  margin-bottom: 37px;
  font-family: inherit;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;

}

.catalog-filter-price-slider {
  top: 7px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;

}

.catalog-filter-price-slider-wrap {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.catalog-filter-button-min {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  top: -8px;
  left: -1px;
}

.catalog-filter-button-max {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  top: -8px;
  right: 0;
}

.catalog-filter-button-submit {
  background-color: #82b3d3;
}

.catalog-filter-button-reset {
  background-color: transparent;
}

.catalog-filter-results {
  display: flex;
  align-items: center;
  padding: 0 69px;
  padding-top: 50px;
  padding-bottom: 40px;
}

.catalog-filter-results-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.catalog-filter-results-select {
  min-width: 292px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin: 0;
  padding: 13px 18px 12px 18px;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 12px center;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  -webkit-appearance: none;
  appearance: none;

}

.catalog-filter-results-select-wrap {
  position: relative;
  display: flex;
  align-items: center;
  width: 292px;
  margin-right: 70px;
  margin-left: auto;
}



.catalog-filter-results-view-buttons {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  align-items: center;
  list-style: none;

}

.catalog-filter-results-button-item {
  display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 12px 14px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

.catalog-filter-results-button-item-selected {

  border-color: #000000;
}
.catalog-cards-list {
  width: 1200px;
  padding: 0 69px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  list-style: none;
  margin: 0;


}



.catalog-cards-item {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  width: 340px;
  display: flex;
  flex-direction: column;
  min-width: 342px;
  padding: 20px 19px;



}

.card-description {
  display: grid;
  width: 300px;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 16px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.card-link {
  text-decoration: none;
}

.card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;

    margin: 16px 0;
}

.card-type-of-housing {
  font-weight: 400;
  color: #333333;
  margin: 0;

}

.card-price {
  font-weight: 400;
  color: #333333;
  text-align: end;
    margin: 0;
}

.card-price-buttons {
  margin: 0;

}

.button-blue {
  background-color: #82b3d3;
  width: 140px;
  text-align: center;
  padding: 8px;
}

.button-green {
  background-color: #7db54f;
  width: 140px;
    text-align: center;
    padding: 8px;
}

.button-brown {
  background-color: #756157;
    width: 140px;
    text-align: center;
    padding: 8px;
}

.catalog-card-rating {
  margin: 0;
  width: 140px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.rating-star {
  margin: 0;
  width: 140px;

    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.star-icon {
  fill: #83B3D3;
}

.star-icon:not(:last-child) {
  margin-right: 6px;
}

.catalog-cards-rating {
  grid-column: 2 / 3;
    background-color: #F2F2F2;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 140px;
    border-radius: 4px;
    padding-top: 9px;
    padding-bottom: 8px;
    color: #333333;
    margin: 0;

}

.pagination {
  display: grid;
  grid-template-columns: repeat(15, 60px);
  gap: 8px;
  margin: 0;
  margin-top: 40px;
  list-style: none;
  border-top: 1px solid #E6E6E6;
  padding: 40px 69px 0 69px;
}



.pagination-link {
  display: block;
  background-color: #82B3D3;
  border: none;
  min-width: 60px;
  min-height: 60px;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 11px 0;
  cursor: pointer;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-hidden {
  display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    min-height: 60px;
    padding: 0;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
}

.subscription-main {
  background-image: url("../images/subscription.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.subscription-title-catalog {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.subscription-subtitle-catalog {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: none;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 40px 70px 30px 70px;
}

.footer-social-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.footer-social-list-item {
  list-style: none;
}

.footer-social-link {
  display: flex;
  align-items: center;
  position: relative;
  width: 47px;
  height: 40px;
  text-decoration: none;
}

.social-icon {
  fill: #83B3D3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.catalog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 40px 70px 30px;
}
